
h1 {
  background-color: lightgreen;
  font-style: italic;
  font-size: 50px;
}

.serif {
  font-family: 'Suez One', serif;
  font-size: 25px;
}

.sans-serif {
  color: blue;
}

.green {
  color: green;
}

.yellow {
  color: yellow;
}

.red {
  color: red;
}

/*div {
  border-style: double;
  width: 500px;
}*/

.diamond {
  padding: 10px 10px 10px 10px;
  height: 250px;
  width: 250px;
  position: relative;
  background-color: #7FDBFF;
  vertical-align: middle;
  transform: rotate(-45deg);
  transform-origin: 0 50%;
  background-size: 150px 150px;
  font-family: Montserrat,sans-serif;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 1px;
  line-height: 25px;
  text-align: horizontal;
  text-transform: normal;
  margin-top: 1px;
  margin-right:
  margin-bottom: 10px;
  margin-left: 670px;
}

p.solid {
  border-style: solid;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: pink;
    font-size: 30px;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: lightgrey;
}

.social {
    background-color: blue;
}

#container {
    max-width: 600px;
    margin: 0 auto;
}

.pic {
  margin-top: -155px;
}

.image {
    float: left;
    width: 33%;
}

.imgContainer {
    width: 100%;
    display:block;
}

.col-md-4 {
      margin: 5px;
      border: 10px solid #ccc;
      float: left;
      width: 180px;
      width: 50%;
      height: auto;
      padding: 15px;
      text-align: center;
}

div.col-md-4:hover {
    border: 10px solid #777;

.row2 {
  margin-top: 5px;

}
