h1 {
  background-color: lightgreen;
}
.serif {
  font-family: 'Suez One', serif;
}
.sans-serif {
  color: blue;
}
.green {
  color: green;
}
.yellow {
  color: yellow;
}
.red {
  color: red;
}
div {
  border-style: double;
  width: 500px;
}
.diamond {
  padding: 40px 10px 10px 40px;
  height: 150px;
  width: 150px;
  position: relative;
  background-color: #7FDBFF;
  vertical-align: middle;
  transform: rotate(-45deg);
  transform-origin: 0 50%;
  background-size: 150px 150px;
  font-family: Montserrat,sans-serif;
  font-size: 20px;
  font-weight: 400;
  height: 150px;
  letter-spacing: 1px;
  line-height: 25px;
  text-align: horizontal;
  text-transform: normal;
  width: 150px;
  margin-top: 1px;
  margin-right:
  margin-bottom: 10px;
  margin-left: 550px;

}
p.solid {border-style: solid;}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: pink;
    font-size: 30px;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: lightgrey;
}

.social {
    background-color: blue;
}

#container {
    max-width: 600px;
    margin: 0 auto;

    .imgContainer{
        width: 100%;
    }

}

.image {
    float: left;
    width: 33%;
    img {
        width: 100%;
        display: block;
    }
.imgContainer {

}
}
